<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>¯\_(ツ)_/¯</title>
    <link rel="stylesheet" type="text/css" href="../static/Duma_style.css"/>
</head>
<body>
<div class="contprl">
<div class="home"><a href="{{ url_for('show_duma') }}"><img src="https://s6.postimg.cc/wdvkva5w1/plr.png" width="100"
           height="100" border="0" alt="Home"></a></div>
<div style="position: absolute; top: 40%; width: 100%">
    <p class="header">
        <a href="{{ url_for('show_duma') }}">Информация о депутате отсутствует</a>
    </p></div>
</div>
</body>
</html>